body {
    margin: 0;
    background-image: url("../img/3.jpg");
    background-repeat: no-repeat;
    background-size: 100%
}

a {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center; 
    text-decoration: none;
    width: 110px;
    height: 35px;
    font-size: 15px;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
}

.Corona {
    display: grid; 
    grid-template-areas:
    "as1 na na as2"
    "as1 a1 a1 as2"
    "as1 di di as2"
    "as1 a2 a2 as2"
}

.nav {
    grid-area: na;
    background-color: rgb(236, 236, 236);
    color: rgb(37, 30, 25);
    height: 75px;
    width: 740px;
    margin-top: 73px;
    margin-bottom: -35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
   font-family: Avenir Next Condensed;
  
}

.article1 {
    color: rgb(37, 30, 25);
    grid-area: a1;
    height: 40px;
    margin-bottom: 20px;
    font-size: 13px;
    width: 740px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Avenir Next Condensed;
    
}

.innerdiv {
    grid-area: di;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:57px;
    width: 90px;

}

.left {
   background-color: rgb(236, 236, 236); 
   color: rgb(37, 30, 25);
   height: 230px;
   width: 340px;
   font-size: 20px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-family: Avenir Next Condensed;
   color: rgb(37, 30, 25);
}


.right {
   width: 340px;
   margin-top: -20px;
 
}

.article2 {
    grid-area: a2;
    background-color: rgb(236, 236, 236); 
    color: rgb(37, 30, 25);
    height: 190px;
    width: 740px;
    display: flex;
    vertical-align: middle;
    line-height: 35px;
    font-size: 18px;
    font-family: Avenir Next Condensed;
   
    

}

.aside1 {
    grid-area: as1;
    width: 332px;
    display: flex;
    align-items: top;
    justify-content: space-around;
}

.aside2 {
    grid-area: as2;
    width: 332px;
}